In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hesko\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hesko\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hesko\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hesko\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hesko\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hesko\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd

In [15]:
import pandas as pd
print(pd.__version__)

2.2.2

In [17]:
In [1]: import numpy as np
In [2]: import pandas as pd

In [19]:
In [3]: s1 = pd.Series([1, 2, 3, 4, 5])
In [4]: print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
In [5]: s2 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
In [6]: print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [27]:
import numpy as np
In [3]: ndarr = np.array([1, 2, 3, 4, 5])
In [4]: type(ndarr)
Out[4]: np.ndarray

In [29]:
In [5]: s3 = pd.Series(ndarr, ['a', 'b', 'c', 'd', 'e'])
In [6]: print(s3)

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [31]:
In [7]: d = {'a':1, 'b':2, 'c':3}
In [8]: s4 = pd.Series(d)
In [9]: print(s4)

a    1
b    2
c    3
dtype: int64

In [33]:
In [10]: a = 7
In [11]: s5 = pd.Series(a, ['a', 'b', 'c'])
In [12]: print(s5)

a    7
b    7
c    7
dtype: int64

In [39]:
In [13]: s6 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
In [14]: s6.iloc[2]
Out[14]: 3

In [37]:
In [15]: s6['d']
Out[15]: 4

In [51]:
In [16]: s6[:2]

a    1
b    2
dtype: int64

In [49]:
In [17]: s6[s6 <= 3]

a    1
b    2
c    3
dtype: int64

In [53]:
In [18]: s7 = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])
In [19]: s6 + s7

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [55]:
In [20]: s6 * 3

a     3
b     6
c     9
d    12
e    15
dtype: int64

In [57]:
import pandas as pd
# Создадим Series с пользовательскими индексами
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
# Доступ к элементам по порядковому номеру
print(s.iloc[0]) # Первый элемент (10)
print(s.iloc[2]) # Третий элемент (30)
print(s.iloc[-1]) # Последний элемент (50)

10
30
50

In [59]:
# Доступ к элементам по метке индекса
print(s.loc['a']) # Первый элемент (10)
print(s.loc['c']) # Третий элемент (30)
print(s.loc['e']) # Последний элемент (50)

10
30
50

In [67]:
# Срез с использованием iloc (позиционный индекс, невключительный stop)
print(s.iloc[1:3]) # Выведет элементы с индексами 1 и 2 (20, 30)
# Срез с использованием loc (меточная индексация, включительный stop)
print(s.loc['b':'d']) # Выведет элементы с индексами 'b', 'c' и 'd'(20, 30, 40)

b    20
c    30
dtype: int64
b    20
c    30
d    40
dtype: int64

In [69]:
import pandas as pd
# Создаём Series с числовыми значениями
s = pd.Series([10, 25, 8, 30, 15], index=['a', 'b', 'c', 'd', 'e'])
# Фильтруем значения больше 10
filtered_s = s[s > 10]
print(filtered_s)

b    25
d    30
e    15
dtype: int64

In [71]:
print(s > 10)

a    False
b     True
c    False
d     True
e     True
dtype: bool

In [73]:
# Фильтрация значений в диапазоне от 10 до 30
filtered_s = s[(s >= 10) & (s <= 30)]
print(filtered_s)

a    10
b    25
d    30
e    15
dtype: int64

In [75]:
# Выбираем только элементы, у которых индекс 'b' или 'd'
filtered_s = s[s.index.isin(['b', 'd'])]
print(filtered_s)

b    25
d    30
dtype: int64

In [77]:
s_with_nan = pd.Series([10, None, 8, 30, None], index=['a', 'b', 'c', 'd', 'e'])
# Фильтрация только непустых значений
filtered_s = s_with_nan[s_with_nan.notnull()]
print(filtered_s)

a    10.0
c     8.0
d    30.0
dtype: float64

In [79]:
import pandas as pd
# Создаём Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
# Изменяем значение элемента с индексом 'b'
s.loc['b'] = 25
print(s)

a    10
b    25
c    30
d    40
dtype: int64

In [81]:
# Изменяем второй элемент (позиция 1)
s.iloc[1] = 50
print(s)

a    10
b    50
c    30
d    40
dtype: int64

In [83]:
# Увеличиваем все значения больше 30 на 10
s[s > 30] += 10
print(s)

a    10
b    60
c    30
d    50
dtype: int64

In [85]:
# Изменяем значения элементов с индексами 'a' и 'c'
s.loc[['a', 'c']] = [100, 200]
print(s)

a    100
b     60
c    200
d     50
dtype: int64

In [87]:
# Умножаем все элементы на 2
s = s.apply(lambda x: x * 2)
print(s)

a    200
b    120
c    400
d    100
dtype: int64

In [91]:
s_with_nan = pd.Series([10, None, 30, None], index=['a', 'b', 'c', 'd'])
# Заполняем пропущенные значения числом 0
s_filled = s_with_nan.fillna(0)
print(s_filled)

a    10.0
b     0.0
c    30.0
d     0.0
dtype: float64

In [97]:
import pandas as pd
# Создаём Series
s = pd.Series([10, 20, 30, 40, 50, 60, 70], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
# Вывод первых 3 элементов
print(s.head(3))

a    10
b    20
c    30
dtype: int64

In [99]:
print(s.head())

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [101]:
# Вывод последних 3 элементов
print(s.tail(3))

e    50
f    60
g    70
dtype: int64

In [103]:
print(s.tail())

c    30
d    40
e    50
f    60
g    70
dtype: int64

In [105]:
import pandas as pd
# Создаём Series с пользовательскими индексами
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
# Получение индексов
print(s.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [107]:
print(s.index[0]) # Выведет 'a'
print(s.index[-1]) # Выведет 'e'

a
e

In [109]:
print('b' in s.index) # True
print('z' in s.index) # False

True
False

In [111]:
# Получение значений
print(s.values)

[10 20 30 40 50]

In [113]:
print(s.values[0]) # 10
print(s.values.mean()) # Среднее значение (30.0)

10
30.0

In [115]:
import pandas as pd
# Создаём Series с целочисленными значениями
s = pd.Series([10, 20, 30, 40, 50])
# Определяем тип данных
print(s.dtype)

int64

In [117]:
s1 = pd.Series([1.5, 2.3, 3.7]) # Числа с плавающей запятой
s2 = pd.Series(["apple", "banana", "cherry"]) # Строки
s3 = pd.Series([True, False, True]) # Булевы значения
print(s1.dtype) # float64
print(s2.dtype) # object (строки)
print(s3.dtype) # bool

float64
object
bool

In [119]:
# Преобразуем числа с плавающей запятой в целые
s1_int = s1.astype(int)
print(s1_int)
print(s1_int.dtype)

0    1
1    2
2    3
dtype: int32
int32

In [121]:
s4 = pd.Series([10, "apple", 3.14, True])
print(s4.dtype) # object

object

In [125]:
import pandas as pd
import numpy as np
# Создаём Series с пропущенными значениями
s = pd.Series([10, np.nan, 30, None, 50])
# Проверяем наличие пропущенных значений
print(s.isnull())

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [127]:
print(s.notnull())

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [129]:
filtered_s = s[s.notnull()]
print(filtered_s)

0    10.0
2    30.0
4    50.0
dtype: float64

In [131]:
missing_values = s[s.isnull()]
print(missing_values)

1   NaN
3   NaN
dtype: float64

In [133]:
import pandas as pd
import numpy as np
# Создаём Series с пропущенными значениями
s = pd.Series([10, np.nan, 30, None, 50])
# Заполняем пропущенные значения нулём
s_filled = s.fillna(0)
print(s_filled)

0    10.0
1     0.0
2    30.0
3     0.0
4    50.0
dtype: float64

In [135]:
s_filled = s.fillna(s.mean())
print(s_filled)

0    10.0
1    30.0
2    30.0
3    30.0
4    50.0
dtype: float64

In [137]:
s_cleaned = s.dropna()
print(s_cleaned)

0    10.0
2    30.0
4    50.0
dtype: float64

In [139]:
import pandas as pd
# Создаём Series
s = pd.Series([10, 20, 30, 40, 50])
# Умножаем все элементы на 2
s_multiplied = s * 2
print(s_multiplied)

0     20
1     40
2     60
3     80
4    100
dtype: int64

In [141]:
s1 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
# Поэлементное сложение двух Series
s_sum = s1 + s2
print(s_sum)

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [143]:
s3 = pd.Series([100, 200, 300], index=['a', 'b', 'f'])
# Сложение Series с несовпадающими индексами
s_result = s1 + s3
print(s_result)

a    101.0
b    202.0
c      NaN
d      NaN
e      NaN
f      NaN
dtype: float64

In [145]:
# Заменяем NaN на 0 при сложении
s_result = s1.add(s3, fill_value=0)
print(s_result)

a    101.0
b    202.0
c      3.0
d      4.0
e      5.0
f    300.0
dtype: float64

In [147]:
import pandas as pd
# Создаём Series
s = pd.Series([1, 2, 3, 4, 5])
# Возводим в квадрат каждый элемент
s_squared = s.apply(lambda x: x ** 2)
print(s_squared)

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [151]:
def custom_function(x):
    return f"Value: {x}"
s_transformed = s.apply(custom_function)
print(s_transformed)

0    Value: 1
1    Value: 2
2    Value: 3
3    Value: 4
4    Value: 5
dtype: object

In [153]:
import numpy as np
# Применение функции np.log к каждому элементу
s_log = s.apply(np.log)
print(s_log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
dtype: float64

In [155]:
s_text = pd.Series(["apple", "banana", "cherry"])
# Преобразуем текст в верхний регистр
s_upper = s_text.apply(str.upper)
print(s_upper)

0     APPLE
1    BANANA
2    CHERRY
dtype: object

In [157]:
import pandas as pd
s = pd.Series([10, 20, 30, 40, 50])
# Вычисление суммы всех элементов
print(s.sum())

150

In [159]:
s_with_nan = pd.Series([10, 20, None, 40, 50])
print(s_with_nan.sum()) # 120 (None игнорируется)

120.0

In [161]:
print(s.mean()) # (10 + 20 + 30 + 40 + 50) / 5 = 30.0

30.0

In [163]:
print(s_with_nan.mean()) # (10 + 20 + 40 + 50) / 4 = 30.0

30.0

In [165]:
print(s.min()) # 10
print(s.max()) # 50

10
50

In [167]:
print(s.describe())

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [169]:
s_text = pd.Series(["apple", "banana", "apple", "cherry", "banana"])
print(s_text.describe())

count         5
unique        3
top       apple
freq          2
dtype: object

In [171]:
import pandas as pd
import numpy as np
# Создаём Series
s = pd.Series([1, 2, 3, 4, 5])
# Применяем натуральный логарифм
s_log = np.log(s)
print(s_log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
dtype: float64

In [173]:
s_exp = np.exp(s)
print(s_exp)

0      2.718282
1      7.389056
2     20.085537
3     54.598150
4    148.413159
dtype: float64

In [175]:
s_sqrt = np.sqrt(s)
print(s_sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
dtype: float64

In [177]:
print(np.sin(s)) # Синус каждого элемента
print(np.cos(s)) # Косинус каждого элемента
print(np.abs(s)) # Модуль значений

0    0.841471
1    0.909297
2    0.141120
3   -0.756802
4   -0.958924
dtype: float64
0    0.540302
1   -0.416147
2   -0.989992
3   -0.653644
4    0.283662
dtype: float64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [179]:
s_with_nan = pd.Series([1, np.nan, 4, 9])
# Применяем квадратный корень
print(np.sqrt(s_with_nan))

0    1.0
1    NaN
2    2.0
3    3.0
dtype: float64